<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="public/styles/chartist.min.css">
	<link rel="stylesheet" href="public/styles/home.css">
</head>
<body>
	<div class="getDB-wrap">
		<a href="#" id="get-charts">SHOW CHARTS</a>
	</div>
	<div class="currency-wrap">
		<table class="cur-table">
			<thead>
				<tr>
					<th>Ресурс</th>
					<th>Покупка</th>
					<th>Продажа</th>
					<th>НБУ</th>
				</tr>
			</thead>
			<tbody>
				<tr class="finance-res">
					<th>Finance.i.ua</th>
					<td class="buy-td"></td>
					<td class="sale-td"></td>
					<td class="nbu-td"></td>
				</tr>
				<tr class="privat-res">
					<th>Privat</th>
					<td class="buy-td"></td>
					<td class="sale-td"></td>
					<td class="nbu-td"></td>
				</tr>
				<tr class="kurs-res">
					<th>Kurs.com.ua</th>
					<td class="buy-td"></td>
					<td class="sale-td"></td>
					<td class="nbu-td"></td>
				</tr>
			</tbody>
		</table>
		<span>Last updated: <span id="last-updated"></span></span>
	</div>
	<div class="charts-wrap">
		<div class="chart-wrap">
			<h3>Finace.i.ua</h3>
			<div class="ct-chart ct-perfect-fourth" id="chart1"></div>		
		</div>
		<div class="chart-wrap">
			<h3>Privat</h3>
			<div class="ct-chart ct-perfect-fourth" id="chart2"></div>		
		</div>
		<div class="chart-wrap">
			<h3>Kurs.com.ua</h3>
			<div class="ct-chart ct-perfect-fourth" id="chart3"></div>		
		</div>
	</div>
	<form id="signin" method='post' action="/api/login">
		<input type="text" required name="name" class="form-name">
		<input type="password" name="password" required class="form-pass">
		<input type="submit" name="" value="Sign in">
		<button id="login">Login</button>
	</form>
	<script>
		const form = document.getElementById('signin');
		const login = document.getElementById('login');
		function handleLogin(e){
			e.preventDefault()
			let form = e.target.parentElement;
			let name = form.querySelector('.form-name').value;
			let pass = form.querySelector('.form-pass').value;
			
			// fetch('http://localhost:5555/api/authenticate', {
			// 	method: 'post',
			// 	headers: {
   //      			'Accept': 'application/json, text/plain, */*',
   //      			'Content-Type': 'x-www-form-urlencoded'
   //  			},
   //  			body: 'foo=bar&lorem=ipsum'  
			// })
			// .then(response => {				
			// 	return response.json()
			// })
			// .then(data => {
			// 	console.log(data)
			// })
			var xhr = new XMLHttpRequest();

			var body = 'name=' + encodeURIComponent(name) +
			  '&password=' + encodeURIComponent(pass);

			xhr.open("POST", 'http://localhost:5555/api/authenticate', true)
			xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded')

			xhr.onreadystatechange = function() {
				if (this.readyState != 4) return;
				const token = JSON.parse(this.responseText).token;		
				window.location.href = `http://localhost:5555/?token=${token}`		
			}

			xhr.send(body);

		}
		login.addEventListener('click', handleLogin)
		function handleSubmit(e){			
			// let target = e.target;
			// let name = target.querySelector('.form-name').value;
			// let pass = target.querySelector('.form-pass').value;
			// console.log(name, pass)
			// fetch('http://localhost:5555/api/login', {
			// 	method: 'POST',
			// 	body: {
			// 		name: name,
			// 		password: pass
			// 	}
			// })
		}
		form.addEventListener('submit', handleSubmit)
	</script>
	<script src="public/scripts/chartist.min.js"></script>
	<script src="public/scripts/showCharts.js"></script>
	<script src="public/scripts/connectToDB.js"></script>
	
</body>
</html>