<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="public/styles/chartist.min.css">
	<link rel="stylesheet" href="public/styles/home.css">
</head>
<body>
	<button id="logout">Logout</button>
	<div class="getDB-wrap">
		<a href="#" id="get-charts">SHOW CHARTS</a>
	</div>
	<div class="currency-wrap">
		<table class="cur-table">
			<thead>
				<tr>
					<th>Ресурс</th>
					<th>Покупка</th>
					<th>Продажа</th>
					<th>НБУ</th>
				</tr>
			</thead>
			<tbody>
				<tr class="finance-res">
					<th>Finance.i.ua</th>
					<td class="buy-td"></td>
					<td class="sale-td"></td>
					<td class="nbu-td"></td>
				</tr>
				<tr class="privat-res">
					<th>Privat</th>
					<td class="buy-td"></td>
					<td class="sale-td"></td>
					<td class="nbu-td"></td>
				</tr>
				<tr class="kurs-res">
					<th>Kurs.com.ua</th>
					<td class="buy-td"></td>
					<td class="sale-td"></td>
					<td class="nbu-td"></td>
				</tr>
			</tbody>
		</table>
		<span>Last updated: <span id="last-updated"></span></span>
	</div>

	<div class="charts-wrap">	
		<div class="chart-wrap">
			<h3>Finace.i.ua</h3>
			<div class="ct-chart ct-perfect-fourth" id="chart1"></div>		
		</div>
		<div class="chart-wrap">
			<h3>Privat</h3>
			<div class="ct-chart ct-perfect-fourth" id="chart2"></div>		
		</div>
		<div class="chart-wrap">
			<h3>Kurs.com.ua</h3>
			<div class="ct-chart ct-perfect-fourth" id="chart3"></div>		
		</div>
	</div>
	<script src="public/scripts/logout.js"></script>
	<script src="public/scripts/chartist.min.js"></script>
	<script src="public/scripts/showCharts.js"></script>
	<script src="public/scripts/connectToDB.js"></script>
	
</body>
</html>