<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="public/styles/login.css">
</head>
<body>
	<form id="signin" method='post' action="/api/signin">
		<label for="name-input">Login</label>
		<input type="text" id="name-input" required name="name" class="form-name">
		<label for="pass-input">Password</label>
		<input type="password" id="pass-input" name="password" required class="form-pass">
		<input type="submit" name="" value="Sign in">
		<button id="login">Login</button>
	</form>	
	<script src="public/scripts/login.js"></script>
	<script src="public/scripts/signin.js"></script>	
</body>
</html>