<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<form id="signin" method='post' action="/api/signin">
		<label>Login: <input type="text" required name="name" class="form-name"></label>
		<label>Password: <input type="password" name="password" required class="form-pass"></label>
		<input type="submit" name="" value="Sign in">
		<button id="login">Login</button>
	</form>
	<a href="/currency">Currencies</a>
	<script src="public/scripts/login.js"></script>
	
</body>
</html>